vendor/
node_modules/
.git/
storage/*.key
public/storage
.env
.idea/
.vscode/
tests/
phpunit.xml
.phpunit.result.cache
.editorconfig
.gitattributes
.gitignore
README.md
composer_error.txt
composer_error_utf8.txt
package-lock.json
package.json
vite.config.js
node_modules/
