.git
.github
mobile
backend/.env
backend/node_modules
backend/vendor
backend/storage/logs/*
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/testing/*
backend/storage/framework/views/*
backend/public/storage
backend/.phpunit.result.cache
backend/docker-compose.yml
backend/Dockerfile
flutter
laravel-api
TESTFILE.tmp
